/* Global styles */
/* Asterisk wildcard selector to override default styles added by the browser */
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* general style */
body {
  font-family: Raleway, sans-serif;
  display: flex;
  color: black;
  flex-direction: column;
  background-color: #00BFFF;
}

.div-center{
  max-width: fit-content;
  margin-inline: auto;
}

/* main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
} */

.text-center{
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

/* header */
header {
  background-color: #F0F8FF;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  position: fixed;
  justify-content: space-between;
  z-index: 99;
  width: 100%;
  color: black;
}
header a {
  text-decoration: none;
  color: inherit;
}

#menu {
  list-style-type: none;
  font-size: 20px;
  letter-spacing: 2px;
}
 #menu li {
   margin-bottom: 1em; 
 }

#menu a:hover {
  color: #FFD700;
}

.active-link {
  border-bottom: 1px solid #F0F8FF;
}

/* Taken from webdevsiplified text based game youtube video */
#surf-game-container{
  width: 800px;
  max-width: 80%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}

/* Taken from webdevsiplified text based game youtube video */
.btn-grid{
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  margin-top: 20px;
}

.btn{
  background-color: hsl(200, 100%, 50%);
  border: 1px solid hsl(200, 100%, 30%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover{
  border-color: black;
}
/* footer */
footer {
  background-color: #FFD700;
  color: white;
  margin-top: auto;
}

#social-networks {
  display: flex;
  text-align: center;
  list-style-type: none;
  justify-content: space-evenly;
  right: 0px;
  font-size: 30px;
}

#social-networks li {
  padding: 1% 5%;
}

#social-networks li a {
  color: white;
}

#social-networks li a:hover {
  color: #00BFFF;
}

/* media query for tablets */
@media screen and (min-width: 768px) {

    /* header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu li {
        margin-bottom: 0;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    /* main content */
    main {
        /* push main content down for larger header */
        margin-top: 84px;
    }
}

/* media query for larger laptops */
@media screen and (min-width: 1024px) {
    body {
        font-size: 1.25rem;
    }

    #menu li {
        margin-bottom: 0;
    }

    main {
        margin-top: 70px;
    }

    #hero-img {
        width: 1024px;
        height: 683px;
    }

}