/* Font import from google */
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Yellowtail&display=swap');

/* Global styles */
/* Asterisk wildcard selector to override default styles added by the browser */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* general style */
body {
  font-family: Raleway, sans-serif;
  display: flex;
  color: black;
  flex-direction: column;
  background-color: #00BFFF;
  min-height: 100vh;
}

.div-center {
  max-width: fit-content;
  margin-inline: auto;
}

.text-center {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

/* header */
header {
  background-color: #F0F8FF;
  font-family: Kalam;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  position: fixed;
  justify-content: space-between;
  z-index: 99;
  width: 100%;
  color: black;
}

header a {
  text-decoration: none;
  color: inherit;
}

#start-stop-button:hover {
  color: #00BFFF;
  cursor: pointer;
}

#submit-button:hover {
  cursor: pointer;
}

#menu {
  list-style-type: none;
  font-size: 20px;
  letter-spacing: 2px;
}

#menu li {
  margin-bottom: 1em;
}

#menu a:hover {
  color: #00BFFF;
}

.active-link {
  border-bottom: 1px solid #F0F8FF;
}

/* dropdown menu with toggle - credit to love running walkthrough project*/
nav {
  position: absolute;
  width: 100%;
  left: 0;
  box-shadow: 0 2px 1px #c0c0c0ff;
  display: none;
  top: 100%;
  padding-left: 1rem;
}

/* nav toggle */
#nav-toggle:checked~nav {
  display: block;
  background-color: #F0F8FF;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
}

/* hand pointer cursor when hovering over hamburger icon */
.nav-toggle-label:hover {
  cursor: pointer;
}

main {
  margin-top: 220px;
}

.text-container {
  width: 800px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFD700;
  color: #F0F8FF;
  background-color: hsl(200, 100%, 50%);
  border: 1px solid hsl(200, 100%, 30%);
  border-radius: 5px;
}

li {
  list-style-type: none;
}

#intro-text {
  padding-top: 10px;
  padding-bottom: 20px;
  list-style-type: none;
}


h3,
h4 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.bottom-padding {
  padding-bottom: 10px;
}

#form-container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}

fieldset {
  margin: 20px;
  padding: 20px;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.25rem;
  display: block;
}

/* Taken from webdevsiplified text based game youtube video */
#surf-game-container {
  width: 800px;
  font-family: Kalam;
  max-width: 80%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  margin-bottom: 20px;
}

#text {
  font-family: Raleway;
  padding: 10px;
}

.btn-grid .btn:hover {
  cursor: pointer;
}

/* Modal */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Taken from webdevsiplified text based game youtube video */
.btn-grid {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 20px;
  /* gap: 10px; */
  margin-top: 20px;
}

.btn {
  background-color: hsl(200, 100%, 50%);
  border: 1px solid hsl(200, 100%, 30%);
  border-radius: 5px;
  background-color: #FFD700;
  padding: 5px 10px;
  color: #00BFFF;
  font-family: Kalam;
  font-size: 1.5rem;
  outline: none;
  flex-grow: 1;
  margin: 0 5px;
}

.btn:hover {
  border-color: black;
}

/* game images */
.game-images {
  display: flex;
  justify-content: space-evenly;
}

.game-images img {
  max-width: 120px;
  height: 120px;
}

#gif-container {
  display: flex;
  justify-content: center;
}

#gif-container img {
  max-width: 100%;
  width: 350px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px;
}

/* footer */
footer {
  background-color: #00BFFF;
  color: white;
  margin-top: auto;
}

#social-networks {
  display: flex;
  text-align: center;
  list-style-type: none;
  justify-content: space-evenly;
  right: 0px;
  font-size: 30px;
}

#social-networks li {
  padding: 1% 5%;
}

#social-networks li a {
  color: white;
}

#social-networks li a:hover {
  color: #FFD700;
}

/* media query for tablets */
@media screen and (min-width: 768px) {

  /* header */
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }

  #menu {
    display: flex;
  }

  #menu li {
    margin-bottom: 0;
  }

  #menu>li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }

  /* main content */
  main {
    /* push main content down for larger header */
    margin-top: 84px;
  }
}

/* media query for larger laptops */
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.25rem;
  }

  #menu li {
    margin-bottom: 0;
  }

  .game-images img {
    max-width: 380px;
    height: 380px;
  }

  main {
    margin-top: 70px;
  }

  #hero-img {
    width: 1024px;
    height: 683px;
  }

}